{{> header }}
{{> navbar }}

<div class="row">
    <div class="col-8">
        <h1>Ember Spirit</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas alias, fugit fugiat minima voluptates nulla ex unde, natus eum aliquam temporibus porro labore nostrum illum, facere animi! Laborum, dicta quaerat!</p>
    </div>
    <div class="col-4">
        <img src="assets/img/ember.png" alt="" class="img-thumbnail">
    </div>
</div>

{{> footer }}